*{
	margin:0%;
	padding:0px;
	border-style: space;
}
.tobe{
	margin:0;
	border:2px solid rgb(0, 123, 0);
	padding:10px;
	display:flex;
	justify-content:space-between;
}
.tobe1{
	justify-content: flex-start;
	display:flex;	
	justify-content:space-evenly;
}
.tobe2{
	display: flex;
}

.tobe1 img{
	border-radius: 100%;
	border: 1px solid green;
}
.tobe2 a{
	text-decoration: none;
	font-weight: 75px;
	color: rgb(1, 89, 61);
	padding:0 28px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 150%;
	border-radius:15%;
	line-break: 0;
	display: flex;
}
.tobe1 a{
	opacity: 1;
}
.tobe1 a:hover{
	opacity: 0.4;
}
.tobe2 a{
	opacity: 1;
}
.tobe2 a:hover{
	opacity: 0.3;
}

.tobe1 a {
	text-decoration: none;
	color: rgb(0, 84, 56);
	padding: 0 21px;
	font-family: cursive;
	font-size: 150%;
}

.tobe2 img{
	border-radius: 50% 50%;
}
.enasty a{
	text-decoration: none;
	color: black;
}
.enasty{
	display: flex;
	margin:5%;
	font-size: 25px;
}


.home{
	margin: 10px 2px;
	padding:10px 0;
	display:block;
}
.pass{
	margin: 25px 2px;
	display:flex;
	justify-content:space-between;
}

.pass{
	opacity: 0;
	transition:all 1s;
	filter:blur(5px);
	transition: translateX(-100%);
}
.show{
	opacity: 1;
	filter:blur();
	transition: translateX(0);

}
@media(prefers-reduced-motion){
	.pass{
		transition:none;
	}
}



.pass img{
	width: 700px;	
	cursor: pointer;
	transition: all 1s ease;
}

.pass img:hover{
	transform: scale(.9);
}
.textt{
	justify-content:space-between;
	display:block;
}

.menu{
	margin-left: 25%;
	position: relative;
	width: 280px;
	height: 280px;
	background: rgba(250, 250, 250, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}



.menu .toggle{
	position: relative;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 3px 4px rgba(0,0,0,15);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
	cursor: pointer;
	font-size: 2em;
	transition: 1.25s;
	z-index: 1000;
}
.menu.active .toggle{
	transform: rotate(360deg);
	box-shadow: 0 6px 8px rgba(0,0,0,15),0 0 0 2px #333,0 0 0 8px #fff;
}
.menu li{
	position: absolute;
	left: 0;
	list-style: none;
	transition: 0.5s;
	transform: rotate(calc(360deg/8 * var(--i)));
	transform-origin: 140px;
	scale: 0;
	transition-delay: calc(0.05s * var(--i));
}
.menu.menu.active li {
	scale: 1;
}
section{
	background-color: rgb(99, 98, 98);
}
.menu li a {
	position: relative;
	display: flex;
	transform: rotate(calc(360deg/-8 * var(--i)));
	width: 60px;
	height: 60px;
	background: #fff;
	justify-content: center;
	align-items: center;
	 border-radius: 50%;
	 font-size: 1.75em;
	 color: var(--clr);
	 box-shadow: 0 3px 4px rgba(0,0,0,0.15);
	 transition: 0.5s;
}
.menu li:hover a {
	font-size: 2.5em;
	box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #fff;
}



.menu	{
	margin-left: auto;
	margin-top: 20px;
}
.enasty{
    height: 100px;
    align-items: center;

}
.about{
	display:flex;
	justify-content:space-between;
}

.about a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 20px;
	padding: 15px;
	display:inline-block;
  }


  .about ul {
	display: inline;
	margin: 0;
	border-right: 4px dotted rgb(0, 0, 0);
	border-left: 4px dotted rgb(0, 0, 0);
	padding: 0;
	
  }
  .about ul li {display: inline-block;}
  .about ul li:hover {background: rgb(255, 255, 255);}
  .about ul li:hover ul {display: block;}
  .about ul li ul {
	position: absolute;
	width: 200px;
	display: none;
  }
  .about ul li ul li { 
	background: rgb(152, 188, 150); 
	display: block; 
  }
  .about ul li ul li a {display:block !important;} 
  .about ul li ul li:hover {background: #666;}




@media (max-width: 1000px){
	
}





